meta charset="UTF-8"
div
  h2
    | Doklad podle bodu IV. usnesení vlády č. 216 ze dne 26. února 2021

  table
    tbody
      tr
        td colspan=2
          | Já níže podepsaný/á
      tr
        td
          br/
      tr
        td
          | jméno a příjmení: 
        td
          strong 
            = @who.display_name
      tr
        td
          | číslo občanského průkazu, příp. cestovního dokladu: 
        td
          strong 
            = @who.id_number
      tr
        td
          | adresa: 
        td
          strong 
            = @who.place

  p
    strong
      | uvádím následující důvod k opuštění místa trvalého pobytu nebo bydliště
      sup 1
      | ):

  .
    = check_box_tag :doctor, nil, @reason == 'doctor', onclick: 'return false;', onkeydown: 'return false'
    | cesta do zdravotnických zařízení a zařízení sociálních služeb, včetně zajištění nezbytného doprovodu, nebo do zařízení veterinární péče,
    br/
    = check_box_tag :other_person, nil, @reason == 'other_person', onclick: 'return false;', onkeydown: 'return false'
    | zajištění nezbytných potřeb pro jinou osobu, zajištění péče o děti, zajištění péče o zvířata, odkládání odpadu,
    br/
    = check_box_tag :state, nil, @reason == 'state', onclick: 'return false;', onkeydown: 'return false'
    | vyřízení neodkladných úředních záležitostí, včetně zajištění nezbytného doprovodu,
    br/
    = check_box_tag :work, nil, @reason == 'work', onclick: 'return false;', onkeydown: 'return false'
    | výkon povolání nebo činnosti sloužící k zajištění

    br/

    ul
      li
        | bezpečnosti, vnitřního pořádku a řešení krizové situace,
      li
        | ochrany zdraví, poskytování zdravotní nebo sociální péče, včetně dobrovolnické činnosti,
      li
        | individuální duchovní péče a služby,
      li
        | veřejné hromadné dopravy a další infrastruktury,
      li
        | služeb pro obyvatele, včetně zásobování a rozvážkové služby,
      li
        | veterinární péče,

    = check_box_tag :death, nil, @reason == 'death', onclick: 'return false;', onkeydown: 'return false'
    | účast na pohřbu,
    br/
    = check_box_tag :school, nil, @reason == 'school', onclick: 'return false;', onkeydown: 'return false'
    | vzdělávání včetně praxe a zkoušek,
    br/
    = check_box_tag :event, nil, @reason == 'event', onclick: 'return false;', onkeydown: 'return false'
    | účast na hromadné akci,
    br/
    = check_box_tag :travel, nil, @reason == 'travel', onclick: 'return false;', onkeydown: 'return false'
    | vycestování z České republiky (nutno prokázat předložením dalších souvisejících dokumentů, například letenky, potvrzení o ubytování apod.)
    br/
    = check_box_tag :self_emloyment, nil, @reason == 'self_emloyment', onclick: 'return false;', onkeydown: 'return false'
    | výkon podnikatelské nebo jiné obdobné činnosti neuvedené výše, a to za tímto konkrétním důvodem

  p
    = @note.present? ? @note : (['.'] * 80).join
  p
    | kontaktní údaje (včetně telefonního čísla) objednatele nebo osoby, u které se výše uvedená činnost má vykonat:
    br/
    = @where&.display_name
    - if @where&.phone_number.present?
      | , Tel: 
      = @where&.phone_number
  p
    strong
      | uvádím, že v jednom z výše označených důvodů cestuji do místa:
    br/
    = @where&.place

  br/

  table
    tbody
      tr
        td
          | Podepsáno v den, hodinu: 
          strong
            = @affidavit.rounded_time.strftime("%d.%m.%Y %H:%M")
            = (['&nbsp;'] * 10).join.html_safe
        td
          | Podpis:
      tr
        td
        td
          - if @who.signature.present?
            = image_tag @who.signature, width: 200



  br/
  br/

  hr

  sup 1
  | Slouží i pro návrat zpět.
