= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      h2 = "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      ul
        - @person.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :nickname
    = f.text_field :nickname
  .field
    = f.label :id_number
    = f.text_field :id_number
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :street
    = f.text_field :street
  .field
    = f.label :house_number
    = f.text_field :house_number
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :preferred_affidavit_type
    = f.select :preferred_affidavit_type, [["Region", "region"]]
  .field
    = f.label :preferred_reason
    = f.select :preferred_reason, %i(doctor other_person state work death school event travel self_emloyment).map(& ->(reason) {[reason.to_s.humanize, reason.to_s]})
  .field
    = f.label :preferred_note
    = f.text_area :preferred_note
  .field
    = f.label :signature
    - if @person.signature.present?
      = image_tag url_for(@person.signature), width: 200
      br/
    = f.file_field :signature
  .field
    = f.hidden_field :user_id
  .actions = f.submit
