= render 'shared/flash'

h1 Listing people

table
  thead
    tr
      th First name
      th Last name
      th Nickname
      th Id number
      th Phone number
      th Street
      th Houser number
      th City
      th Preferred reason
      th Preferred note
      th
      th
      th

  tbody
    - @people.each do |person|
      tr
        td = person.first_name
        td = person.last_name
        td = person.nickname
        td = person.id_number
        td = person.phone_number
        td = person.street
        td = person.house_number
        td = person.city
        td = person.preferred_reason
        td = person.preferred_note
        td = link_to 'Show', person
        td = link_to 'Edit', edit_person_path(person)
        td = link_to 'Destroy', person, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Person', new_person_path

h1 Listing Affidavits

table
  thead
    tr
      th Who
      th Where
      th Reason
      th Note
      th When
      th

  tbody
    - @affidavits.each do |affidavit|
      tr
        td = affidavit.who&.display_name
        td = affidavit.where&.display_name
        td = affidavit.reason&.humanize
        td = affidavit.note
        td = affidavit.rounded_time
        td = link_to 'Show', affidavit
        td = link_to 'PDF', affidavit_url(id: affidavit.id, format: :pdf)
        td = link_to 'Destroy', affidavit, method: :delete

| You can also access affidavits directly on 
= root_url + 'affidavits/:who_nickname/:where_nickname.pdf'

h1 Create new Affidavit

= form_for current_user.affidavits.build do |f|
  .field
    = f.label :who
    = f.select :who, @people.map(& -> (person) { [person&.display_name, person.id]})
  .field
    = f.label :where
    = f.select :where, @people.map(& -> (person) { [person&.display_name, person.id]}), selected: @people.second&.id
  .field
    = f.label :affidavit_type
    = f.select :affidavit_type, [['Region', 'region']]
  .field
    = f.label :reason
    = f.select :reason, %i(doctor other_person state work death school event travel self_emloyment).map(& ->(reason) {[reason.to_s.humanize, reason.to_s]}), selected: :other_person
  .field
    = f.label :note
    = f.text_area :note
  .actions = f.submit