p#notice = notice

p
  strong First name:
  = @person.first_name
p
  strong Last name:
  = @person.last_name
p
  strong Nickname:
  = @person.nickname
p
  strong Id number:
  = @person.id_number
p
  strong Phone number:
  = @person.phone_number
p
  strong Street:
  = @person.street
p
  strong Houser number:
  = @person.house_number
p
  strong City:
  = @person.city
p
  strong Preferred reason:
  = @person.preferred_reason
p
  strong Preferred note:
  = @person.preferred_note

=> link_to 'Edit', edit_person_path(@person)
'|
=< link_to 'Back', people_path
